*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(image/1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    font-family: sans-serif;
    color: #000;
}

}
.logo{
    height: 40px;
    width: 130px;
    margin-left: 8%;
    margin-top: 1%;
    
}
.banner{
    margin-left: 8%;
    margin-top: 100px;
}
.banner h1{
    font-size: 80px;
    
}
.banner p {
    margin: 20px 0;

}
button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: darkorange;
    color: white;
    font-weight: 600;
    cursor: pointer;

}
ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    
}
ul li a{
    color: darkorange;
}
